:root {
    --text-primary: #000;
    --bgPrimary: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    --bgSecondary: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

a:hover {
    color: var(--green) !important;
}

.app {
    display: flex;
    overflow: hidden;
}

.companies-wrapper{
    display: flex;
    flex-direction: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 3rem 3rem;
    background: var(--bgPrimary);
}

.main {
    flex: 0.8;
    width: 100%;

}

.routes {
    padding: 20px;
}

.nav-container {
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: rgb(0, 21, 41);
}

.logo-container {
    background-color: #001529;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.logo {
    margin: 0 0 0 15px;
}

.logo a {
    color: white;
}

.menu-control-container {
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader {
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1300px) {
    .main {
        margin-left: 50px;
    }
}

@media screen and (max-width:1170px) {
    .main {
        margin-left: 50px;
    }
}

@media screen and (max-width:1000px) {
    .main {
        margin-left: 100px;
    }
}


.md-calendar-booking .mbsc-calendar-text {
    text-align: center;
}

.md-calendar-booking .booking-datetime .mbsc-datepicker-tab-calendar {
    flex: 1 1 0;
    min-width: 300px;
}

.md-calendar-booking .mbsc-timegrid-item {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.md-calendar-booking .mbsc-timegrid-container {
    top: 30px;
}